#11111fgf
%%Ligands
Lig 1IL6
Lig 1ITB
Lig 1P9M
Lig 1TNF
Lig 21BI
Lig 2IL6
Lig 2LY4
Lig 2TUN
Lig 2YRQ
Lig 31BI
Lig 3O4O
Lig 5TSW
Lig 6I1B
Lig 7I1B
%%Receptors
Rec 1FYW
Rec 1FYX
Rec 1O77
Rec 1QU6
Rec 1ZIW
Rec 2A0Z
Rec 2A19
Rec 2A1A
Rec 2LWD
Rec 2LWE
Rec 2QFB
Rec 2QFD
Rec 2RMJ
Rec 2RQB
Rec 2YHF
Rec 2YKG
Rec 2Z62
Rec 2Z63
Rec 2Z65
Rec 2Z66
Rec 2Z7X
Rec 2Z80
Rec 3B6E
Rec 3FXI
Rec 3GA3
Rec 3LRN
Rec 3LRR
Rec 3NCU
Rec 3OG8
Rec 3QF2
Rec 3TMI
Rec 3UIU
Rec 3UL7
Rec 3UL8
Rec 3UL9
Rec 3ULA
Rec 3ULU
Rec 3ULV
Rec 3W3G
Rec 3W3J
Rec 3W3K
Rec 3W3L
Rec 3W3M
Rec 3W3N
Rec 3ZD6
Rec 3ZD7
Rec 4AY2
Rec 4BPB
Rec 4G8A
Rec 4GL2
%%Output
